<div class="modalHolder hidden">
    <div class="popupDetail">
    <button type="button" class="closeDetail" name="button">X</button>
      <div class="testDetail">

      <section class="meta">
      <h2>Title: <span class="title"></span></h2>
      <h3>Author: <span class="author"></span></h3>
      <h3>Co-creator: <span class="co"></span></h3>
      <h3>Length: <span class="length"></span></h3>
      <h3>publication date: <span class="date"></span></h3>
      <h3>Directed by: <span class="directed"></span></h3>

      <h2>Tags/categories</h2>
      <div class="categories">

      </div>

      <div class="shareHolders">

      <div class="shareIcon transition">

      </div>
      <div class="sharePath transition">

      </div>
      </div>
      </section>
      <div class="videoPrev">
      <span class="previewUrl"></span>
      </div>
      </div>
    </div>
  </div>
  <script src="/js/detail.js"></script>
