<div class="modalHolder hidden">
    <div class="popupDetail">
      <div class="testDetail">

      <section class="meta">
      <h2>Title: <span></span></h2>
      <h3>Auteur: <span></span></h3>
      <h3>Co-creator: <span></span></h3>
      <h3>Duur: <span></span></h3>
      <h3>Publicatiedatum: <span></span></h3>
      <h3>Schrijvers: <span></span></h3>
      <h3>Geregisseerd door: <span></span></h3>

      <h2>Tags/categorieën</h2>
      <div class="categories">

      </div>

      <button class="filter-small">Share video</button>
      <button class="filter-small">Download</button>
      </section>
      <div class="videoPrev">

      </div>
      </div>
    </div>
  </div>
