<div class='modalHolder displayNone'>
  <div class='popupDetail'>
    <button type='button' class='closeDetail' name='button'>
      X
    </button>
    <div class='testDetail'>
      <section class='meta'>
        <h2>Title: <span class='title'>Loading...</span></h2>
        <h3>Creator: <span class='creator'>Loading...</span></h3>
        <h3>publication date: <span class='date'>Loading...</span></h3>
        <div class='shareHolders'>
          <div class='shareIcon transition'>
          </div>
        </div>
      </section>
      <div class='videoPrev'>
        <video  class="videoFile" controls src="" >
        </video>
      </div>
    </div>
  </div>
</div>

<div class="shadowOverlay displayNone">

</div>
