<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="Semias Datavisual and Google AI's intergration" />

  <title>Datavisual</title>
  <link rel="manifest" href="/js/manifest.json">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
  <link rel="stylesheet" type="text/css" href="/css/attribute.css">
  <link rel="stylesheet" type="text/css" href="/css/clock.css">
  <link rel="stylesheet" type="text/css" href="/css/share.css">


  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <!-- <link rel="manifest" href="/images/icons/site.webmanifest"> -->
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body>