<section class="socialHolder borderRadius shadow transision">
  <div class="socialHolderRelative">
    <button type="button" class="closeOverlay defaultButton" name="button">X</button>
    <h2>Deel je zoektocht </h2>
    <div class='socialLinkHolder'>
      <a class="socialLink copy" title="copy link" href=''></a>
      <a class="socialLink twitter" target="_blank" title="deel met twitter" href='https://twitter.com/home?status=http://www.placecage.com/c/1000/1000'></a>
      <a class="socialLink mail" target="_blank" title="deel met email" href='mailto:info@example.com?&subject=&body=http://www.placecage.com/c/1000/1000 asdada'></a>
      <a class="socialLink app" target="_blank" title="deel met whatsapp" href='whatsapp://send?text=http://www.placecage.com/c/1000/1000'></a>
      <a class="socialLink facebook" target="_blank" title="deel met facebook" href='https://www.facebook.com/sharer/sharer.php?u=PLACEHERETHEURL'></a>
    </div>
  </div>
</section>
<section class="overlayDark transision">

</section>
<script src="../js/share.js" charset="utf-8"></script>
