<!doctype html>
<div class="intro-overlay">

  </div>
<section class="intro">
  <h1>Related images</h1>
  <button type="button" name="button">Skip intro</button>
  <div class="overlay-timer">
  <p>This is how much time you have till the next loop</p>
  <p></p>
  </div>
  <p></p>
  <div class="expl-txt">
    <p>Navigeer door de video's op een exploratieve manier</p>
    <p>Google API integratie zelfrijdende auto's crypto currency Bluetooth connectability</p>
    <p>Explaining how to</p>
  </div>
    </section>
