<!doctype html>
<div class="intro-overlay">

</div>
<section class="intro">
  <h1>Semia film data</h1>
  <button class="skipper" type="button" name="button">Skip Tutorial</button>
  <div class="explanation-container hidden">
    <h3 class="tutorial-names">With this app you can view an archive of 300,000 films and corresponding shots from these films</h3>
    <div class="tutorial-container">
      <img src="/images/icons/logo.svg" alt="Semia">
    </div>
    <p class="tutorial-explanation">The database and the app is built around relations. Each and every shot has been compared to every other shot in the databse to see in which ways they relate to one another. In this app you will explore the
      database by viewing shots related to one another leaving a path films in your wake.</p>
    <button class="next" type="button" name="button">Next ></button>
  </div>

  <div class="expl-txt">
    <p>We're going to break down the application into sections and explain the functionalities of each one</p>
    <p>We have an immense dataset full of still frames from thousands of films</p>
    <p>We have made an app with which you can navigate through the data in an explorative way</p>
    <p>Each still and each shot is related to others in one of four ways</p>
    <p>color, movement, shape and visual complexity</p>
    <button class="starter" type="button" name="button">Start tutorial</button>
  </div>
  </article>
  <h3 class="hidden">Every 10 seconds your'e shown a new 9 related stills.</h3>
  <h3 class="hidden">The loop is infinite so don't worry about missing a loop :-)</h3>
</section>
<script src="/js/partials/startScreen.js"></script>
