<%- include('./partials/head'); -%>

<main class="displayFlex">
  <h1>Error</h1>
  <p><%= msg %></p>
  <a href="/" onclick="event.preventDefault(); window.history.back();">Go back</a>
</main>

<%- include('./partials/footer'); -%>