.displayFlex {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mainpageImage {
  display: inline-flex;
  /* padding: 5px; */
  /* Margin and padding need to be the same as the width -px */
  /* border: 1px solid black; */
  width: calc(33% - 40px);
  height: calc(33vh - 40px);
  margin: 15px 15px 7px;
}

.mainpageImage img {
  width: 100%;
  height: auto;
}

.mainpageImage:hover {
  background-color: red;
}
