.intro{
z-index: 5;
position: absolute;
width: 100%;
height: 100vh;
color: #fff;
  }

.intro-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #6875fb;
  background-size: cover;
  opacity: .4;
  z-index: 4;
  filter: blur(31px);
}
.intro h1{
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}
.intro button:hover{
color: #5a07a5;
transition: .3s ease;
cursor: pointer;
}
.intro button{
  background: none;
  border: none;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.blur{
filter: blur(3px);
}

.expl-txt{
  text-align: center;
  margin-top: 30vh;
}

.overlay-timer{
  border: 5px solid #6875fb;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 10px;
  left: 65px;
  overflow: hidden;
  text-align: center;
}

.overlay-timer p{
  padding: 10px;
}
