.socialHolder {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
}

.socialHolderRelative {
  position: relative;
  padding: 10px;
}

.closeDetail,
.socialHolderRelative button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.socialLinkHolder {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.socialLink {
  min-width: 75px;
  max-width: calc(33% - 20px);
  min-height: 75px;
  margin: 15px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* maybe could have done this with JS */
.shareIcon {
  width: 40%;
  height: 100px;
  max-height: 300px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  background-image: url("../images/icons/share-icon.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.shareIcon:hover{
background-image: url("../images/icons/share-icon_color.svg");
}

.sharePath{
  box-sizing: border-box;
  width: 40%;
  height: 100px;
  max-height: 300px;
  margin: auto;
  cursor: pointer;
  background-image: url(../images/icons/path-icon.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}

.shareHolders{
display: flex;
justify-content: space-between;
}
.sharePath:hover{
background-image: url("../images/icons/path-icon_color.svg");
}

.instagram {
  background-image: url("../images/socials/instagram.svg");
}

.copy {
  background-image: url("../images/socials/copy.svg");
}

.twitter {
  background-image: url("../images/socials/twitter.svg");
}

.mail {
  background-image: url("../images/socials/mail.svg");
}

.app {
  background-image: url("../images/socials/whatsapp.svg");
}

.copy {
  background-image: url("../images/socials/copy.svg");
}

.facebook {
  background-image: url("../images/socials/facebook.svg");
}

.overlayDark {
  position: absolute;
  z-index: 8;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0.7;
  background-color: black;
}

.overlayDark:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0.5;
}

#textareaHiden {
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  opacity: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10000;
}

/* This needs to be an attribute */
.displayNone {
  display: none;
}

.closeDetail,
.defaultButton {
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  outline: inherit;
  background: none;
  font: inherit;
}
